
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    background-color: antiquewhite;
}
    

.div2 {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    background-color: blue;
}
        